{{>message}}
<head>
    <style>
        .welcomeContainer {
            background-color: gray;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: start;
            background-image: url('/images/spellSaverBackground1.png');
            background-size: cover;
            background-position: center;
        }

        .featuresContainers {
            height: 100vh;
            width: 100%;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
        }
        
        .featuresContainers h1 {
            font-size: 40px;
        }

        .featureDisplay {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            scroll-snap-align: start;
        }

        .featureImage {
            max-width: 400px;
            height: auto;
            border-radius: 10px;
        }

        .feature1 {
            background-image: url('/images/homeWelcomeBackground.png');
            background-size: cover;
            background-position: center;
        }

        .feature2 {
            background-image: url('/images/spellSaverBackground2.png');
            background-size: cover;
            background-position: center;
        }

        .feature3 {
            background-image: url('/images/spellSaverBackground3.png');
            background-size: cover;
            background-position: center;
        }

        .feature4 {
            background-image: url('/images/spellSaverBackground2.png');
            background-size: cover;
            background-position: center;
        }

        .feature5 {
            background-image: url('/images/spellSaverBackground3.png');
            background-size: cover;
            background-position: center;
        }

        .textBlock {
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        h1 {
            color: #ffe59a;
        }

        p {
            color: #ffe59a;
        }

    </style>
</head>

<body>
    {{>message}}
    

    <!-- Features -->
    <div class="featuresContainers">

        <!-- Welcome and Logo Section -->
        <div class="welcomeContainer" >
            <h1 style="font-size: 100px;"> Welcome to SpellSaver </h1>

            <div class="container mt-5"> 
                <img src="https://placehold.co/300x300" class="rounded-circle mx-auto d-block" alt="Logo Here"> </img>
            </div>

            <p style="font-size: 30px"> To Empower People to be Financially Savvy </p>

            <!--Anchor Points-->
            <div style="d-flex flex-wrap justify-content-center gap-3 mt-4">
                <a href="#Section1" class="btn btn-light"> About Us </a>
                <a href="#Section2" class="btn btn-light"> Track Your Transaction History </a>
                <a href="#Section3" class="btn btn-light"> Make Your Own Charts </a>
                <a href="#Section4" class="btn btn-light"> See Your Activities through the Month</a>
                <a href="#Section5" class="btn btn-light"> Keep up to Date with Notifications</a>
            </div>

            <!--Link to Register and Login-->
            <div style="d-flex flex-wrap justify-content-center gap-3 mt-4">
                <a href="/register" class="btn btn-primary" style="background-color: #8e7cc3;"> Register </a>
                <a href="/login" class="btn btn-primary" style="background-color: #8e7cc3;"> Login </a>
            </div>
        </div>

        <!-- Feature Display Section -->
        <section id = "Section1">
            <div class="featureDisplay feature1">
                <div class="featureImage">
                    <img src="/images/spellSaverCat.png" class="img-fluid rounded-circle"> </img>
                </div>

                <div class="textBlock">
                    <h1> About Us </h1>
                    <p> We Want to help people through organizing their financials </p>
                </div>
            </div>
        </section>
        
        <section id = "Section2">
            <div class="featureDisplay feature2">
                <div class="featureImage">
                    <img src="/images/transaction_history.png" class="img-fluid"> </img>
                </div>

                <div class="textBlock">
                    <h1> Track Your Transaction History </h1>
                    <p> Easily keep track of your recent purchase, all in one place. </p>
                </div>
            </div>
        </section>

        <section id = "Section3">
            <div class="featureDisplay feature3">
                <div class="featureImage">
                    <img src="/images/pie_charts.png" class="img-fluid"> </img>
                </div>
                
                <div class="textBlock">
                    <h1> Make Your Own Charts </h1>
                    <p> Create personalized charts to visually display your recent purchases and compare them with your set budget. </p>
                </div>
            </div>
        </section>

        <section id = "Section4">
            <div class="featureDisplay feature4">
                <div class="featureImage">
                    <img src="/images/calendar.png" class="img-fluid"> </img>
                </div>
                
                <div class="textBlock">
                    <h1> See Your Activities through the Month </h1>
                    <p> Keep track of daily, weekly, and monthly spending with an easy to use calendar. </p>
                </div>
            </div>
        </section>

        <section id = "Section5">
            <div class="featureDisplay feature5">
                <div class="featureImage">
                    <img src="/images/email.png" class="img-fluid"> </img>
                </div>

                <div class="textBlock">
                    <h1> Keep up to Date with Notifications </h1>
                    <p> Sign up for email notifications to be reminded about your purchase history </p>
                </div>
            </div>
        </section>
    </div>


    <!--Scripting to arrows to go down-->
    <script>
        document.getElementById("scrollDown").addEventListener("click", function() {
            
            const down = document.querySelector(".featureDisplay")
            if (down){
                down.scrollIntoView({behavior: "smooth"});
            }
        });
    </script>
</body>
