{{>message}}

<!DOCTYPE html>
<html>
<head>
    <style>
        
        .welcomeContainer {
            background-color: gray;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Welcome and Logo Section -->
        <div class="container mt-5 welcomeContainer" >
            <h1 style="font-size: 100px;"> Welcome to SpellSaver </h1>

            <div class="container mt-5"> 
                <img src="https://placehold.co/300x300" class="rounded-circle mx-auto d-block" alt="Logo Here"> </img>
            </div>

            <p class="container mt-5" style="font-size: 30px"> Vision Statement goes here </p>

            <a href="#scrollNext" style="display: block; text-align: center; font-size: 40px; margin-top: 30px; cursor: pointer;"> Arrow Here </a>
        </div>
</body>
</html>
