<!DOCTYPE html>
<html>
<head>
    <style>
        .welcomeContainer {
            background-color: gray;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: start;
        }

        .featuresContainers {
            height: 100vh;
            width: 100%;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        }
        
        .featuresContainers h1 {
            font-size: 40px;
        }

        .featureDisplay {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            scroll-snap-align: start;
        }

        .feature1 {
            background-color: rgb(78, 200, 200);
        }

        .feature2 {
            background-color:rgb(169, 103, 231);
        }

        .feature3 {
            background-color:rgb(165, 94, 94);
        }

        .feature4 {
            background-color: rgb(174, 203, 130);
        }

    </style>
</head>

<body>
    {{>message}}
    

    <!-- Features -->
    <div class="featuresContainers">

        <!-- Welcome and Logo Section -->
        <div class="welcomeContainer" >
            <h1 style="font-size: 100px;"> Welcome to SpellSaver </h1>

            <div class="container mt-5"> 
                <img src="https://placehold.co/300x300" class="rounded-circle mx-auto d-block" alt="Logo Here"> </img>
            </div>

            <p style="font-size: 30px"> Vision Statement goes here </p>

            <!--Image from the web-->
            <svg xmlns="http://www.w3.org/2000/svg" id="scrollDown" style="cursor: pointer" width="24" height="24"><path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
        </div>

        <!-- Feature Display Section -->
        <div class="featureDisplay feature1">
            <img src="https://placehold.co/300x300"> </img>
            <h1> Testing text 1</h1>
        </div>
        
        <div class="featureDisplay feature2">
            <img src="https://placehold.co/300x300"> </img>
            <h1> Testing text 2</h1>
        </div>

        <div class="featureDisplay feature3">
            <img src="https://placehold.co/300x300"> </img>
            <h1> Testing text 3</h1>
        </div>

        <div class="featureDisplay feature4">
            <img src="https://placehold.co/300x300"> </img>
            <h1> Testing text 4</h1>
        </div>
    </div>


    <!--Scripting to arrows to go down-->
    <script>
        document.getElementById("scrollDown").addEventListener("click", function() {
            
            const down = document.querySelector(".featureDisplay")
            if (down){
                down.scrollIntoView({behavior: "smooth"});
            }
        });
    </script>
</body>
</html>
