{{>message}}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h1 style="margin-top: 80px;" color="green">Successfuly Logged Out</h1>
    <h1>Redirecting to login page in a few seconds...</h1>
</div>

{{!-- Redirect to Login Page in 3 Seconds -> 3000 miliseconds--}}
    {{#if redirect}}
        <script>
            setTimeout(function() {
                window.location.href = "/login";
            }, 3000); 
        </script>
    {{/if}}