<ul class="nav nav-tabs" id="settingsTabs" role="tablist">
  {{!-- <li class="nav-item" role="presentation">
    <button class="nav-link active" id="display-tab" data-bs-toggle="tab" data-bs-target="#display" type="button" role="tab" aria-controls="display" aria-selected="true">Display</button>
  </li> --}}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications" type="button" role="tab" aria-controls="notifications" aria-selected="false">Notifications</button>
  </li>
  {{!-- <li class="nav-item" role="presentation">
    <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account">Account</button>
  </li> --}}
</ul>
<div class="tab-content mt-3" id="settingsTabsContent">
  <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-header">
                Your Reminders
            </div>
            <div class="card-body">
                <p class="card-text">email: </p> <!--insert user email or empty string if no email provided-->
                <!--Switch for whether or not user opts in for notifications-->
                {{#if OptIn}}
                  <form action="/settings" method="POST">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="EmailOptIn" name="EmailOptIn" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked">Opt Into Regular Email Summaries</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </form>
                {{else}}
                  <form action="/settings" method="POST">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="EmailOptIn" name="EmailOptIn">
                      <label class="form-check-label" for="switchCheckDefault">Opt Into Regular Email Summaries</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </form>
                {{/if}}
                <!--Check boxes (if switch on) to determine frequency of emails-->
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
    <!-- TODO: Add form for account settings -->
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>