<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            text-align: center;
        }
        
        .pieChart {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: lightgray;
            border: 1px solid;
            border-color: rgb(107, 107, 107);
            margin: auto;
            background: 
                conic-gradient(
                    #e74e4e 0% 30%,
                    #f68849 30% 40%,
                    #70ed78 40% 65%,
                    #a853e9 65% 95%,
                    #4881ed 95% 100%
                );
        }
    </style>
</head>
<body>
    <!--Title and Description-->
    <div>
        <h3>Make your own piechart</h3>
        <p>Customize and modify a plan for your spending</p>
    </div>

    <!--Piechart Visuals-->
    <div class = "pieChart">
        
    </div>
</body>
</html>
